<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>ログイン</h1>
    <%= form_with scope: :session, local: true do |f|%>
    
    <table class=table table-hover>
        <thead class=thead-defalut>
            <tr>
                <th><%= Task.human_attribute_name(:name) %></th>
                <th><%= Task.human_attribute_name(:created_at) %></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% @Tasks.each do |task| %>
            <tr>
                <td><%= link_to(task.name, task) %></td>
                <td><%= task.created_at %></td>
            </tr>                
            <% end %>
            
            <% if task.errors.present? %>
                <ul id="error_explanation">
                    <% task.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                </ul>
            <% end %>
            
        </tbody>
        <ul class="navbar-nav ml-auto">
            <% if current_user %>
                <li class="nav-item"><%=link_to('タスク一覧', tasks_path, class: 'nav-link') %></li>
                <li class="nav-item"><%=link_to('ユーザー一覧', admin_users_path, class: 'nav-link') %></li>
                <li class="nav-item"><%=link_to('ログアウト', logout_path, method: :delete, class: 'nav-link') %></li>
            <% else %>
                <li class="nav-item"><%=link_to('ログイン', login_path, class: 'nav-link') %></li>
            <% end %>
        </ul>
    </table> 
</body>
</html>